body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 1rem;
}

/* * {outline: 1px solid red;} */

*::selection {
    background-color: white;
    color: black;
}

.focus-redirect-underlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.console-line {
    margin: 0;
    display: inline;
    word-break: break-all;
    white-space: pre-wrap;
}

.console-line > span {
    display: inline;
}

.input-line {
    outline: none;
    margin: 0;
    padding-right: 0.2rem;
    background: none;
    border: none;
    display: inline-block;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

/* Console text colors */
.bold { font-weight: bold; }
.c-red-dark { color: #700; }
.c-red { color: #f88; }
.c-red-bright { color: #f00; }

.c-green-dark { color: #070; }
.c-green { color: #8f8; }
.c-green-bright { color: #0f0; }

.c-yellow-dark { color: #770; }
.c-yellow { color: #ff8; }
.c-yellow-bright { color: #ff0; }

.c-blue-dark { color: #007; }
.c-blue { color: #88f; }
.c-blue-bright { color: #00f; }

.c-magenta-dark { color: #707; }
.c-magenta { color: #f8f; }
.c-magenta-bright { color: #f0f; }

.c-cyan-dark { color: #077; }
.c-cyan { color: #8ff; }
.c-cyan-bright { color: #0ff; }

.c-gray-dark { color: #777; }
.c-gray { color: #888; }
.c-gray-bright { color: #ccc; }

.c-white { color: #fff; }
.c-black { color: #000; }

/* Console background colors */
.bg-red-dark { background-color: #400; }
.bg-red { background-color: #f00; }
.bg-red-bright { background-color: #f88; }

.bg-green-dark { background-color: #040; }
.bg-green { background-color: #0f0; }
.bg-green-bright { background-color: #8f8; }

.bg-yellow-dark { background-color: #440; }
.bg-yellow { background-color: #ff0; }
.bg-yellow-bright { background-color: #ff8; }

.bg-blue-dark { background-color: #004; }
.bg-blue { background-color: #00f; }
.bg-blue-bright { background-color: #88f; }

.bg-magenta-dark { background-color: #404; }
.bg-magenta { background-color: #f0f; }
.bg-magenta-bright { background-color: #f8f; }

.bg-cyan-dark { background-color: #044; }
.bg-cyan { background-color: #0ff; }
.bg-cyan-bright { background-color: #8ff; }

.bg-gray-dark { background-color: #444; }
.bg-gray { background-color: #ccc; }
.bg-gray-bright { background-color: #888; }

.bg-white { background-color: #fff; }
.bg-black { background-color: #000; }
