body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 18px;
}

*::selection {
    background-color: white;
    color: black;
}

.console-line {
    margin: 0;
    display: inline;
}

.input-line {
    outline: none;
    margin: 0;
    background: none;
    border: none;
    display: inline;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
}

.c-red {
    color: red;
}
